@{
    ViewBag.Title = "Contact Us";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/contact.css")">
}

<section id="contact">

	<div class="container">

		@Html.Partial("_Contact")

	</div>

</section>