@{
    ViewBag.Title = "Contact Us";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/contact.css")">
}

<article id="contact" class="container">

	<section id="contact-form">

		@Html.Partial("_Contact")

	</section>

</article>