@{
    ViewBag.Title = "FAQ";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/faq.css")">
}

<article id="faq" class="container">

	<section id="q-and-a">

		<h2>Frequently Asked Questions</h2>
		
		<h3>Body Contouring</h3>

		<dl>
			<dt>Does the treatment hurt?</dt>
			<dd>No, Ultrasound Cavitation is noninvasive and painless. The treatment is very comfortable and feels like a hot stone massage.</dd>

			<dt>Is Ultra Body safe?</dt>
			<dd>Yes, Ultrasonic Cavitation is FDA approved and safe. Conditions that would preclude you from having the procedure include an acute illness such as immune deficiencies, compromised liver function, severe bleeding tendencies, pace makers, or patients currently undergoing cancer care. Pregnant and lactating women should not undergo ultrasound Cavitation. It is important that you disclose all medical information on the intake forms and discuss this with your technician prior to your session.</dd>

			<dt>How long does it take?</dt>
			<dd>Each session is scheduled for 30 minutes. 6-12 sessions spaced at least 3 days apart is ideal and is recommended in order to achieve the best result – further subsequent treatments may be needed to attain your desired body shape.</dd>

			<dt>What areas can be treated?</dt>
			<dd>Ultrasound Cavitation can be used to reduce fat in the: Abdomen, Thighs (Inner and Outer), Buttocks, Upper arms, and Love Handles.</dd>

			<dt>When will I see results?</dt>
			<dd>Most clients will see results immediately after their first treatment, and the best results can be seen 3 or more days after treatment. We highly recommend having at least 6-9 treatments to maximize results and get the longevity out of the procedure.</dd>

			<dt>Do I need to take time off work?</dt>
			<dd>Ultrasound Cavitation treatment is noninvasive and does not require any time off work or away from your normal activities.</dd>

		</dl>

		<h3>Facials</h3>

		<dl>
			<dt>Does the treatment hurt?</dt>
			<dd>No, the facial procedure is noninvasive and painless. The treatment is very relaxing and soothing.</dd>
			
			<dt>How long does it take?</dt>
			<dd>Each session is scheduled for one hour. A series of 4-12 sessions are recommended depending on the area of concern. These sessions are spaced one to two weeks apart. For the most beneficial results, we also recommend a follow up session every 3-4 months after your initial course in order to maintain results.</dd>

			<dt>What do I do before and after a session?</dt>
			<dd>Before and after a facial you should avoid any type of sun exposure, including lying out in the sun, using tanning beds or self-tanners. This should be avoided for approximately 2-3 days before and after RF sessions. Always use a good sunscreen. Anyone with metal implants or pacemakers should not have this procedure.</dd>

			<dt>When will I see results?</dt>
			<dd>Most clients will see results immediately after their first treatment, and more improvement in the days following as your skin repairs and builds collagen. The results are accumulative and will be more dramatic after the 4th session.</dd>

		</dl>

	</section>

</article>