@{
    ViewBag.Title = "How It Works";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/how-it-works.css")">
}

<article id="how-it-works" class="container">

	<section id="overview">

		<h2>How It Works</h2>

		<p>
			Ultra Sound Cavitation is a non-surgical method of liposuction. The procedure 
			is FDA approved and is quickly spreading across the globe. Ultra Sound 
			Cavitation destroys stored fat cells by using low frequency sound waves. The 
			high intensity ultrasound stimulates the cells to release the fat so that it can 
			be processed by the body’s normal metabolic system. Ultra Body’s Ultrasonic 
			Cavitation destroys fat cells at such a rate, and in such a quantity, that stored 
			fat is significantly reduced and eliminated. Ultra Body provides a completely relaxing 
			treatment experience that many clients say feels like a hot stone massage. 
			After the first treatment, clients typically experience a reduction of at least 
			1/2 inch in circumference immediately and will achieve added results after 
			subsequent sessions. Age, metabolism, changes in hormones, medications, 
			and treatment area will have an impact on results. To maintain the results it 
			is important to follow a healthy diet, drink plenty of pure water and exercise 
			regularly.
		</p>

		<figure>

			<div id="video">

				<iframe width="560" height="315" src="//www.youtube.com/embed/-8Mj_e5UgI4?modestbranding=1&autohide=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

			</div>

		</figure>

	</section>

	<section id="before-and-after">

		<h2>Actual Ultra Body Client</h2>

		<figure>
			<img src="/Content/Images/Results/before.jpg" />
			<figcaption>
				Before
			</figcaption>
		</figure>

		<figure>
			<img src="/Content/Images/Results/after.jpg" />
			<figcaption>
				After
			</figcaption>
		</figure>

	</section>

</article>

