@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/home.css")">
}

@section Scripts {
	<script src="@Url.Content("~/Content/Scripts/flamebug.slider.js")"></script>
}

	<section id="banner">

		<ul class="fb-slider">
			<li><img src="/Content/Images/Banner/banner-2.jpg" /></li>
			<li><img src="/Content/Images/Banner/banner-1.jpg" /></li>
		</ul>

	</section>

<article id="home" class="container">

	<section id="about">

		<h1>Ultra Body</h1>
		<h2>Custom Contouring Spa for Women</h2>

		<p>
			We provide women 
			the opportunity to melt away inches of fat off their body with no pain or 
			downtime. Performed in our relaxing and professional spa, our state of the art 
			technology can help you with weight loss, skin texture, body shaping, blood 
			circulation and cellulite.
		</p>

		<figure>

			<div id="video">

				<iframe width="560" height="315" src="//www.youtube.com/embed/Ipas3WZRfQ0?modestbranding=1&autohide=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>

			</div>

		</figure>

		<p id="call">Call Ultra Body for an appointment: 847.508.3392</p>

	</section>

</article>