@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/home.css")">
}

<section id="banner">

	<img src="/Content/Images/Banner/banner-2.jpg" />

</section>

<section id="about">

	<div class="container">

		<p>
			Ultra Body is a Custom Body Contouring Spa for Women. We provide women 
			the opportunity to melt away inches of fat off their body with no pain or 
			downtime. Performed in our relaxing and professional spa, our state of the art 
			technology can help you with weight loss, skin texture, body shaping, blood 
			circulation and cellulite.
		</p>

	</div>

</section>

<!--
<div id="photos">

</div>
-->