@{
    ViewBag.Title = "Location";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/location.css")">
}

<section id="location" class="container">

	<div id="directions">

		<div id="location-parking">

			<h2>Location</h2>
		
			<ul>
				<li>We are located at 111 North Ave. Suite 212, Barrington, IL 60010 on the corner of Main St. and North Ave. in downtown Barrington.</li>
				<li>Access to the building is available from North avenue and the parking lot.</li>
			</ul>

			<h2>Parking</h2>

			<ul>
				<li>Conveniently located next to the Barrington Metra Station.</li>
				<li>There is a parking lot located on the East side of the building off Main St.</li>
				<li>Street parking is also available on the West side of the street in front of the building on North Ave.</li>
			</ul>

		</div>

		<div id="google-map">

			<div id="map">
			
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2957.805162909183!2d-88.131019!3d42.15445599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fa0d8f809a581%3A0xef09f42768dc1c7c!2s111+North+Ave+%23212%2C+Barrington%2C+IL+60010!5e0!3m2!1sen!2sus!4v1391126078649" width="600" height="450" frameborder="0" style="border:0"></iframe>

			</div>

		</div>

	</div>

</section>