@{
    ViewBag.Title = "Location";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/location.css")">
}

<article id="location" class="container">

	<section id="location-and-parking">

		<h2>Location & Parking</h2>

		<div id="information">
	
			<ul>
				<li>We are located at 50 North Ela Street, Barrington, IL 60010 in the Schuberth Orthodontist Building, lower level.</li>
				<li>Across the street from St. Anne’s Church.</li>
				<li>If using a GPS, please make sure to use Ela Street not Road.</li>
			</ul>

			<ul>
				<li>Conveniently located next to the Barrington Metra Station.</li>
				<li>Parking is available in back of the building.</li>
				<li>Street parking is also available on the East side of Ela St.</li>
			</ul>

		</div>

		<div id="map">

			<figure>
			
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2957.790815358002!2d-88.13356999999999!3d42.154762999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fa0d9797833e5%3A0xc761edbff5a0043b!2s50+Ela+St%2C+Barrington%2C+IL+60010!5e0!3m2!1sen!2sus!4v1430322968837" width="600" height="450" frameborder="0" style="border:0"></iframe>

			</figure>

		</div>

	</section>

	<section id="photos">

		<h2>Be Pampered In Our Tranquil Spa</h2>

		<figure>
			<img src="/Content/Images/Office/spa.jpg" />
		</figure>

		<figure>
			<img src="/Content/Images/Office/waiting-room.jpg" />
		</figure>

	</section>

</article>