@{
    ViewBag.Title = "Pricing";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/pricing.css")">
}

<article id="pricing" class="container">

	<section id="pricing-table">

		<h2>Pricing</h2>

		<table id="large">

			<thead>
				<tr>
					<th></th>
					<th>Regular Price</th>
					<th>Internet Special</th>
					<th>$$$ Savings</th>
					<th>% Savings</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>3 Sessions</td>
					<td>$600.00</td>
					<td>$264.00</td>
					<td>$336.00</td>
					<td>56%</td>
				</tr>
				<tr>
					<td>6 Sessions</td>
					<td>$1,200.00</td>
					<td>$498.00</td>
					<td>$702.00</td>
					<td>59%</td>
				</tr>
				<tr>
					<td>9 Sessions</td>
					<td>$1,800.00</td>
					<td>$675.00</td>
					<td>$1,125.00</td>
					<td>63%</td>
				</tr>
				<tr>
					<td>12 Sessions</td>
					<td>$2,400.00</td>
					<td>$768.00</td>
					<td>$1,632.00</td>
					<td>68%</td>
				</tr>
			</tbody>

		</table>

		<table id="small">

			<thead>
				<tr>
					<th></th>
					<th>Regular Price</th>
					<th>Internet Special</th>
					<th>Savings</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>3 Sessions</td>
					<td>$600</td>
					<td>$264</td>
					<td>$336 (56%)</td>
				</tr>
				<tr>
					<td>6 Sessions</td>
					<td>$1,200</td>
					<td>$498</td>
					<td>$702 (59%)</td>
				</tr>
				<tr>
					<td>9 Sessions</td>
					<td>$1,800</td>
					<td>$675</td>
					<td>$1,125 (63%)</td>
				</tr>
				<tr>
					<td>12 Sessions</td>
					<td>$2,400</td>
					<td>$768</td>
					<td>$1,632 (68%)</td>
				</tr>
			</tbody>

		</table>

		<p>
			Call today to schedule an appointment and have the figure you’ve always wanted!<br />
			847.508.3392
		</p>

		<p>Special Bridal Packages Available! Please call for details. See how a bride can receive up to 6 free sessions!</p>

		<p>We accept the following payment methods: Credit Card, Cash, and Check.</p>

		<p id="credit">
			<img src="/Content/Images/Icons/visa.png" />
			<img src="/Content/Images/Icons/mastercard.png" />
			<img src="/Content/Images/Icons/discover.png" />
			<img src="/Content/Images/Icons/american.png" />
		</p>

		<p id="questions">Have more questions? <a href="/contact">Contact us</a> or call us at 847.508.3392.</p>

	</section>	
	
</article>