@{
    ViewBag.Title = "Pricing";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/pricing.css")">
}

<section id="pricing" class="container">

	<div id="pricing-table">

		<h2>Pricing</h2>

		<table>

			<thead>
				<tr>
					<th style="width: 25%">Price</th>
					<th>Package</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>$XXX.XX</td>
					<td>3 Sessions</td>
				</tr>
				<tr>
					<td>$XXX.XX</td>
					<td>6 Sessions</td>
				</tr>
				<tr>
					<td>$XXX.XX</td>
					<td>9 Sessions</td>
				</tr>
				<tr>
					<td>$XXX.XX</td>
					<td>12 Sessions</td>
				</tr>
				<tr>
					<td>Call</td>
					<td>Bridal Package</td>
				</tr>
			</tbody>

		</table>

	</div>	

	<div id="pricing-info">

		<h2>Additional Info</h2>

		<p>Call today to schedule an appointment and have the figure you’ve always wanted! 847.508.3392</p>

		<p>Special Bridal Packages Available! Please call for details. See how a bride can receive up to 6 free sessions!</p>

		<p>We accept the following payment methods: Credit Card, Cash, and Check.</p>

		<p>
			<img src="/Content/Images/Icons/visa.png" />
			<img src="/Content/Images/Icons/mastercard.png" />
			<img src="/Content/Images/Icons/discover.png" />
			<img src="/Content/Images/Icons/american.png" />
		</p>

	</div>

	<p style="clear: both; text-align: center;">Have more questions? <a href="/contact">Contact us</a> or call us at 847.508.3392.</p>

</section>