/*
site/site.scss
*/

@import "../global.scss";
@import "../library/grid.scss";
@import "../library/helper.scss";
@import "../library/table.scss";

//
// Main Sections
//

article > section {
	padding: $line-height * 1em 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);

	> header {
		text-align: center;

		h2 {
			@include font-size(($h2-font-size * .75));
		}
	}

	&:last-child {
		border-bottom: 0;
	}
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	article > section {
		padding: $line-height * 2em 0;

		> header h2 {
			@include font-size($h2-font-size);
		}
	}
}

//
// hash linking (to compensate for fixed position navigation)
//

*[id] h3:before { 
	display: block;
	content: " "; 
	margin-top: -48px; 
	height: 48px; 
	visibility: hidden; 
}

//
// Tables
//

table {
	@include table-padded();
	@include table-bordered();
}

//
// Button
//

a.hero-button {
	display: inline-block;
	padding: .5em .75em;
	background: #0db2ac;
	color: #fff !important;
	text-decoration: none !important;

	@include transition(all, .1s);

	&:hover {
		background: #13b8b2;
	}
}

//
// Introduction
//

.introduction {
	position: relative;
	padding: $line-height * 2em 0;
	padding-bottom: $line-height * 1em;
	background-color: #222;
	background-image: url("/Content/Images/background.jpg");
	background-size: cover;
	background-position: center center;
	color: #fff;
	text-align: center;

	img {
		display: block;
		margin: $line-height * 1em auto 0 auto;
		width: 200px;
	}

	& > header {
		text-align: center;
	}

	h1 {
		font-size: 3.5em;
		margin: 0;
		letter-spacing: -2px;
		color: #fff;
	}

	h2 {
		@include font-size(4);
		font-weight: 100;
		letter-spacing: -4px;
		color: #fff;
	}

	code {
		background-color: rgba(255,255,255,0.1);
		border-color: rgba(255,255,255,0.3);
		color: #fff;
	}

	a {
		color: #fff;
		text-decoration: underline;

		&:hover {
			color: rgba(255,255,255,0.6);
		}
	}
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	.introduction {
		padding: $line-height * 4em 0;

		h1 {
			font-size: 4.5em;
			letter-spacing: -4px;
		}

		h2 {
			@include font-size(5);
		}

		img {
			width: 280px;
		}

		&:after {
			bottom: $line-height * -4em;
			margin-left: $line-height * -2em;
			border-width: $line-height * 2em;
		}
	}
}

/* 8 column layout */
@media screen and (min-width: 40rem) {
	.introduction {
		h1 {
			font-size: 5.5em;
			letter-spacing: -4px;
		}

		a.hero-button {
			padding: 1em 1.5em;
		}
	}
}

//
// Example & Code
//

.example {
	position: relative;
    padding: $line-height * 1em $line-height * 1em 0 $line-height * 1em;
	border: 1px solid $border-color;
	margin-top: $line-height * 1em;
	@include typographic-grid();
	@include clear-children();

	~ pre {
		position: relative;
		margin: 0;
		border-top: 0;
	}

	~ pre:last-child {
		margin-bottom: $line-height * 1em; 
	}

	&:before {
		content: "Example";
	}
}

pre.language-markup {
	position: relative;
	padding-top: $line-height * 1em;

	&:before {
		content: "HTML";
	}
}

pre.language-css {
	position: relative;
	padding-top: $line-height * 1em;

	&:before {
		content: "CSS";
	}
}

.example:before,
pre.language-markup:before,
pre.language-css:before {
	position: absolute;
	text-transform: uppercase;
	text-shadow: none;
	top: -1px;
	left: -1px;
	padding: .25em .5em;
	border: 1px solid $border-color;
	background: rgba(0,0,0,0.01);
	color: #cacaca;
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}