/*
site/site.scss
*/

@import "../global.scss";
@import "../library/grid.scss";
@import "../library/helper.scss";
@import "../library/table.scss";

//
// Main Sections
//

#content > article > section {
	padding: $line-height * 1em 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);

	h1 {
		@include font-size(($h1-font-size * .75));
		line-height: 1.25;
		margin-top: 0;
	}

	h2 {
		@include font-size(($h2-font-size * .75));
		line-height: 1.25;
		margin-top: 0;
	}

	&:last-child {
		//border-bottom: 0;
	}
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	#content > article > section {
		padding: $line-height * 2em 0;

		h1 {
			@include font-size($h1-font-size);
		}

		h2 {
			@include font-size($h2-font-size);
		}
	}
}

//
// Tables
//

table {
	@include table-padded();
	@include table-bordered();
}

//
// Alert
//

.alert {
	display: none;
	padding: 8px 14px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	&.show {
		display: block;
	}

	&.success {
	  color: #468847;
	  background-color: #dff0d8;
	  border-color: #d6e9c6;
	}

	&.error {
	  color: #b94a48;
	  background-color: #f2dede;
	  border-color: #eed3d7;
	}
}