/*
contact.scss
*/
#contact-form {
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
#contact-form h2 {
  text-align: center;
}
#contact-form label {
  display: block;
  text-align: left;
}
#contact-form input,
#contact-form textarea {
  display: block;
  background: #fff;
  border: 1px solid #f0f0f0;
  padding: .5em;
  margin: .5em 0;
}
#contact-form .button {
  display: block;
  width: 140px;
  padding: .5em 3em;
  margin: 1em auto 0 auto;
  background: #E49379;
  color: #fff;
  font-size: 1.3em;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}
#contact-form #Name,
#contact-form #Email,
#contact-form #Message {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
