/*
error.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Introduction
//

.introduction {
	background-color: #f00;
}

//
// Articles
//

#error > article {
	@include max-column();
	text-align: center;
}

//
// Error Icon
//

#error img {
	display: block;
	width: 75%;
	max-width: 20em;
	margin: 0 auto;
	opacity: 0.2;
}