/*
faq.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// FAQ
//

#faq {
	text-align: left;

	h2 {
		margin-top: 0;
		text-align: center;
	}

	dt {
		text-decoration: underline;
	}

	dd {
		margin-top: .5em;
		margin-left: 0;
	}

	dd + dd {
		margin-top: 1em;
	}

	dd + dt {
		margin-top: 1.5em;
	}
}

.max-column {
	@include max-column;
}

