/*
home.scss
*/
#banner {
  padding: 0;
}
#banner img {
  display: block;
}

#banner {
  position: relative;
  padding: 0;
  padding-bottom: 66.66667%;
  height: 0;
  overflow: hidden;
}
#banner .fb-slider, #banner .fb-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about p {
  text-align: left;
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

#photos {
  height: 40em;
  width: 100%;
  background-image: url("/Content/Images/Office/office-1.jpg");
  background-size: cover;
  background-position: center center;
}
