/*
home.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Introduction
//

.introduction {
	//background-image: url("/Content/Images/background.jpg");
}

//
// Layout
//

@mixin infinite-column-left($cols) {
	margin-left: $cols * ($column-width + $gutter-width) + ($gutter-width / 2) !important;
}

#infinite {
	position: relative;
	height: 20em;
	margin: $line-height * 2em auto 0 auto;
	overflow: hidden;

	div {
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		width: $column-width;
		margin-left: ($gutter-width / 2);
		background: #fc8d4d;
		opacity: .1;

		&:hover {
			background: #0db2ac;
			opacity: .5;
		}
	}
}

.col2 { @include infinite-column-left(1); }
.col3 { @include infinite-column-left(2); }
.col4 { @include infinite-column-left(3); }
.col5 { @include infinite-column-left(4); }
.col6 { @include infinite-column-left(5); }
.col7 { @include infinite-column-left(6); }
.col8 { @include infinite-column-left(7); }
.col9 { @include infinite-column-left(8); }
.col10 { @include infinite-column-left(9); }
.col11 { @include infinite-column-left(10); }
.col12 { @include infinite-column-left(11); }
.col13 { @include infinite-column-left(12); }
.col14 { @include infinite-column-left(13); }
.col15 { @include infinite-column-left(14); }
.col16 { @include infinite-column-left(15); }
.col17 { @include infinite-column-left(16); }
.col18 { @include infinite-column-left(17); }
.col19 { @include infinite-column-left(-1); }
.col20 { @include infinite-column-left(-2); }
.col21 { @include infinite-column-left(-3); }
.col22 { @include infinite-column-left(-4); }
.col23 { @include infinite-column-left(-5); }
.col24 { @include infinite-column-left(-6); }
.col25 { @include infinite-column-left(-7); }
.col26 { @include infinite-column-left(-8); }
.col27 { @include infinite-column-left(-9); }
.col28 { @include infinite-column-left(-10); }
.col29 { @include infinite-column-left(-11); }
.col30 { @include infinite-column-left(-12); }
.col31 { @include infinite-column-left(-13); }
.col32 { @include infinite-column-left(-14); }
.col33 { @include infinite-column-left(-15); }
.col34 { @include infinite-column-left(-16); }
.col35 { @include infinite-column-left(-17); }
.col36 { @include infinite-column-left(-18); }

.col1,.col2,.col19,.col20 {
	opacity: 1 !important;
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	.col3,.col21 {
		opacity: 1 !important;
	}
}

/* 8 column layout */
@media screen and (min-width: 40rem) {
	#infinite {
		height: 30em;
	}
	.col4,.col22 {
		opacity: 1 !important;
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	.col5,.col6,.col23,.col24 {
		opacity: 1 !important;
	}
}

/* 16 column layout */
@media screen and (min-width: 80rem) {
	.col7,.col8,.col25,.col26 {
		opacity: 1 !important;
	}
}

//
// Typography
//

#typography {
	@include clear-children;

	figure {
		@include max-column;
		margin-top: $line-height * 1em;
		margin-bottom: $line-height * 1em;
	}
	.screenshot {
		background: url(/Content/Images/chrome-flat-browser-1600.png) no-repeat;
		padding-top: 44px;
		border-radius: .4em;
		box-shadow: 0 0 20px rgba(0,0,0,0.08);
	}
	#arrow {
		width: 128px;
		margin: $line-height * 1em auto;
		vertical-align: top;
		opacity: .4;
	}
	#arrow img {
		display: block;
		width: 50%;
		margin: 0 auto;
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	#typography {
		figure {
			@include column(5);
		}
		#arrow {
			@include column(2);
			margin-top: $line-height * 10em;
		}
		#arrow img {
			-ms-transform: none;
			-webkit-transform: none;
			transform: none;
		}
	}
}

/* 16 column layout */
@media screen and (min-width: 80rem) {
	#typography {
		figure {
			@include column(7);
		}
		#arrow {
			margin-top: $line-height * 14em;
		}
	}
}