/*
home.scss
*/
#banner ul {
  position: relative;
  padding: 0;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 3.25em;
}
#banner ul img {
  display: block;
}
#banner ul .fb-slider, #banner ul .fb-slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about {
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
#about h1,
#about h2 {
  margin: 0 !important;
  text-align: center;
}
#about #call {
  text-align: center;
}
#about h3 {
  opacity: .75;
}
#about figure {
  max-width: 40em;
  margin: 1.625em auto;
}

#video {
  position: relative;
  padding: 0;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#video iframe,
#video object,
#video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
