/*
home.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Banner
//

#banner {
	padding: 0;

	img {
		display: block;
	}
}

//
// About
//

#about p {
	text-align: left;
	@include max-column;
}


//
// Photos
//

#photos {
	height: 40em;
	width: 100%;
	background-image: url("/Content/Images/Office/office-1.jpg");
	background-size: cover;
	background-position: center center;
}