/*
how-it-works.scss
*/
#overview {
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
#overview p {
  text-align: left;
}
#overview h2 {
  text-align: center;
}
#overview figure {
  max-width: 40em;
  margin: 1.625em auto;
}

#video {
  position: relative;
  padding: 0;
  padding-bottom: 56%;
  height: 0;
  overflow: hidden;
}
#video iframe,
#video object,
#video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#before-and-after:after {
  content: "";
  display: table;
  clear: both;
}
#before-and-after h2 {
  text-align: center;
}
#before-and-after figure {
  text-align: center;
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
#before-and-after figure img {
  display: block;
}
#before-and-after figure figcaption {
  font-size: 1.5em;
  font-weight: 100;
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
  #before-and-after figure {
    display: inline;
    float: left;
    width: 13.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
/* 8 column layout */
@media screen and (min-width: 40rem) {
  #before-and-after figure {
    display: inline;
    float: left;
    width: 18.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  figcaption {
    font-size: 2em;
  }
}
/* 12 column layout */
@media screen and (min-width: 60rem) {
  #before-and-after figure {
    display: inline;
    float: left;
    width: 28.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
