/*
location.scss
*/
#map {
  position: relative;
  padding: 0;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}
#map iframe,
#map object,
#map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
  #google-map {
    width: 50%;
  }

  #location-parking {
    float: right;
    width: 50%;
  }
}
#location:after {
  content: "";
  display: table;
  clear: both;
}
#location h2 {
  margin-top: 0;
  text-align: center;
}

#directions {
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

/* 16 column layout */
@media screen and (min-width: 80rem) {
  #directions {
    display: inline;
    float: left;
    width: 58.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-left: 10.75rem;
    margin-right: 10.75rem;
  }
}
