/*
location.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Location
//

#location {
	@include clear-children;

	h2, h3 {
		text-align: center;
	}
}

//
// Location & Parking
//

#location-and-parking {
	@include max-column;
}

//
// Map
//

#map {
	margin: 0 auto;
}

#map figure {
	position: relative;
	padding: 0;
	padding-bottom: 100%;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* 8 column layout */
@media screen and (min-width: 40rem) {
	#map {
		width: 75%;
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	#map {
		width: 50%;
		margin-left: 0;
		margin-right: 2em;
	}
	
	#map figure {
		margin-right: 3em;
	}

	#information {
		float: right;
		width: 50%;
	}
}

//
// Information
//

#information {
	ul {
		padding-left: 1.5em;
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	#information {
		float: right;
		width: 50%;

		ul {
			margin-top: $line-height * 2.5em;
			margin-bottom: $line-height * 2.5em;
		}
	}
}

//
// Photos
//

#photos {
	@include clear-children;

	h2 {
		text-align: center;
	}

	figure {
		text-align: center;
		@include max-column;

		figcaption {
			font-size: 2em;
			font-weight: 100;
		}
	}
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	#photos figure {
		@include column(3);
	}
}

/* 8 column layout */
@media screen and (min-width: 40rem) {
	#photos figure {
		@include column(4);
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	#photos figure {
		@include column(6);
	}
}