/*
location.scss
*/
#map {
  position: relative;
  padding: 0;
  padding-bottom: 35em;
  height: 0;
  overflow: hidden;
}
#map iframe,
#map object,
#map embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#directions:after {
  content: "";
  display: table;
  clear: both;
}
#directions h2 {
  margin-top: 0;
  text-align: center;
}
#directions address {
  width: 11em;
  margin: 1.625em auto;
}

#location, #information {
  display: block;
  float: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
  #location, #information {
    display: inline;
    float: left;
    width: 28.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
/* 16 column layout */
@media screen and (min-width: 80rem) {
  #location, #information {
    display: inline;
    float: left;
    width: 38.5rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
