/*
pricing.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Pricing
//

#pricing {

	h2 {
		margin-top: 0;
		text-align: center;
	}

	table {
		font-size: .75em;
	}
}

#pricing-table {
	@include max-column;
}

#credit,
#questions {
	text-align: center;
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	#pricing {
		table {
			font-size: .8em;
		}
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	#pricing {
		table {
			font-size: inherit;
		}
	}

	#pricing-table {
		@include column(10);
		@include prefix(1);
		@include suffix(1);
	}
}

/* 16 column layout */
@media screen and (min-width: 80rem) {
	#pricing-table {
		@include column(10);
		@include prefix(3);
		@include suffix(3);
	}
}