/*
pricing.scss
*/

@import "../library/grid.scss";
@import "../library/helper.scss";

//
// Pricing
//

#pricing {

	h2 {
		text-align: center;
	}
}

//
// Pricing Table
//

#pricing-table {
	@include max-column;

	table {
		font-size: .75em;

		th:nth-child(3),
		td:nth-child(3) {
			background-color: #E5F4FF;
			border-color: #EdFcFF;
			color: #4E7383;
		}
	}

	table#large {
		display: none;
	}
}

/* 6 column layout */
@media screen and (min-width: 30rem) {
	#pricing-table {
		table {
			font-size: .8em;
		}

		table#small {
			display: none;
		}

		table#large {
			display: table;
		}
	}
}

/* 12 column layout */
@media screen and (min-width: 60rem) {
	#pricing-table {
		@include column(10);
		@include prefix(1);
		@include suffix(1);

		table {
			font-size: inherit;
		}
	}
}

//
// Information
//

#credit,
#questions {
	text-align: center;
}

