/*
Template Layout
*/
body,
#content,
#footer,
#nav,
#nav ul,
#nav ui li {
  margin: 0;
  padding: 0;
  text-align: left;
  clear: both;
}

body {
  background-color: #f8f8f8;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: center top;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -ms-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  -webkit-background-origin: padding-box;
  -moz-background-origin: padding-box;
  -ms-background-origin: padding-box;
  -o-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-background-clip: border-box;
  -moz-background-clip: border-box;
  -ms-background-clip: border-box;
  -o-background-clip: border-box;
  background-clip: border-box;
}

#wrapper {
  min-width: 20em;
  max-width: 30em;
  margin: 0 auto;
  background-color: #fff;
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  box-shadow: 0 0 6.25em rgba(0, 0, 0, 0.04);
}

@media screen and (min-width: 30rem) {
  #wrapper {
    min-width: 30em;
    max-width: 40em;
  }
}
@media screen and (min-width: 40rem) {
  #wrapper {
    min-width: 40em;
    max-width: 50em;
  }
}
@media screen and (min-width: 60rem) {
  #wrapper {
    min-width: 60em;
    max-width: 70em;
  }
}
@media screen and (min-width: 80rem) {
  #wrapper {
    min-width: 80em;
    max-width: 90em;
  }
}
#header {
  padding: 1.625em 0;
  text-align: center;
}
#header:after {
  content: "";
  display: table;
  clear: both;
}
#header address {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  opacity: .5;
}

#nav {
  background: rgba(0, 0, 0, 0.02);
  border-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
  min-width: initial;
  max-width: 30em;
}
#nav ul {
  list-style: none;
  clear: both;
}
#nav li {
  position: relative;
  display: block;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#nav li:hover {
  background: rgba(0, 0, 0, 0.03);
}
#nav li a {
  position: relative;
  display: block;
  height: 3em;
  padding: 0 1.5em;
  line-height: 3em;
  color: #899;
}

/* 6 column layout and greater */
@media screen and (min-width: 30rem) {
  #nav {
    min-width: 30em;
    max-width: 40em;
  }
}
@media screen and (min-width: 40rem) {
  #nav {
    min-width: 40em;
    max-width: 50em;
    border-top: 1px solid rgba(0, 0, 0, 0.02);
  }
  #nav ul {
    display: block;
    clear: none;
    text-align: center;
  }
  #nav li {
    display: inline-block;
    border: 0;
  }
}
@media screen and (min-width: 60rem) {
  #nav {
    min-width: 60em;
    max-width: 70em;
  }
}
@media screen and (min-width: 80rem) {
  #nav {
    min-width: 80em;
    max-width: 90em;
  }
}
#content:after {
  content: "";
  display: table;
  clear: both;
}

#footer {
  padding: 1.625em 0;
  text-align: center;
}
#footer:after {
  content: "";
  display: table;
  clear: both;
}
#footer ul {
  list-style: none;
  padding: 0;
}
#footer li {
  display: inline-block;
  width: 48px;
  margin: 0 1em;
  text-align: center;
}
#footer li img {
  opacity: 0.1;
}
#footer .social {
  display: inline-block;
  height: 2em;
  width: 2em;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}
#footer .social + .social {
  margin-left: .25em;
}
#footer .twitter {
  background-image: url("/Content/Images/twitter-circle.svg");
}
#footer .facebook {
  background-image: url("/Content/Images/facebook-circle.svg");
}
#footer .linkedin {
  background-image: url("/Content/Images/linkedin-circle.svg");
}
