@{
	ViewBag.Title = "Not Found";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/404.css")">
}

<section id="error-introduction" class="introduction">

	<header class="container">

		<h2>404 Not Found</h2>

	</header>

</section>

<section id="not-found" class="container">

	<article>

		<img src="/Content/Images/error.svg" />

		<h3>The page you have requested was not found</h3>
		<h4>Things you can do in the meantime:</h4>

		<ul>
			<li>1. <a href="/">Visit our homepage</a>, we are sure that is still there.</li>
			<li>2. <a href="/contact">Contact Us</a>, for more information or to schedule an appointment.</li>
			<li>3. <a href="/how-it-works">Learn how our process works</a>, so you know a little more about what we do.</li>
			<li>4. Check out our <a href="/faq">FAQ</a>, for any questions you have.</li>
			<li>5. Check out our <a href="/pricing">Pricing</a>, for details on the packages that we provide.</li>
		</ul>

	</article>
	
</section>