			<a class="social twitter" style="display:none" href="https://twitter.com/ultrabodycontouring">Follow Ultra Body Contouring On Twitter</a>
			<a class="social facebook" href="https://www.facebook.com/ultrabodycontouring">Follow Ultra Body Contouring On Facebook</a>
			<a class="social linkedin" style="display:none" href="">Follow Ultra Body Contouring on LinkedIn</a>