			<a class="social twitter" href="https://twitter.com/ultrabodycontouring">Follow Ultra Body Contouring On Twitter</a>
			<a class="social facebook" href="https://www.facebook.com/ultrabodycontouring">Follow Ultra Body Contouring On Facebook</a>
			<a class="social linkedin" href="http://www.linkedin.com/company/ultrabodycontouring">Follow Ultra Body Contouring on LinkedIn</a>